*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
}

.hero {
  width: 100%;
  height: auto;
  background-image: url("../img/heroimg.png");
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.hero__social {
  padding: 9px 1.3rem;
  background-color: #2E8B57;
}
.hero__social__menu {
  display: none;
  float: right;
  width: 2rem;
  z-index: 2500;
  position: relative;
  top: 5px;
}
@media only screen and (max-width: 600px) {
  .hero__social__menu {
    display: block;
    z-index: 3500;
  }
}
.hero__container {
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 2rem 2.5rem;
  min-height: 75%;
  background-color: rgba(255, 255, 255, 0.603);
}
.hero__container__left {
  text-align: center;
}
.hero__container__left--logo {
  margin-top: 8%;
  width: 13rem;
  height: 11rem;
}
.hero__container__left--h2 {
  margin-top: 4%;
  font-size: 2.7rem;
  font-family: "Cookie", cursive;
  color: #8B231D;
}
.hero__container__left--h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  color: #303030;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 5%;
}
.hero__container__left--btn:link, .hero__container__left--btn:visited {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #FFF;
  padding: 0.5rem 1.7rem;
  background-color: #2E8B57;
}
.hero__container__right--nav {
  list-style: none;
  float: right;
  text-align: right;
  margin-right: 3rem;
}
.hero__container__right--nav a {
  text-decoration: none;
  color: black;
}
.hero__container__right--nav a:hover {
  color: black;
}
.hero__container__right--nav li {
  margin-top: 4%;
  font-family: "Roboto", "sans-serif";
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .hero__container__right--nav {
    margin-top: 60%;
    text-align: center;
    margin-right: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .hero__container__right--nav {
    display: none;
  }
}

.about_us {
  width: 100%;
  height: auto;
  background-image: url("../img/about_back.png");
}
.about_us__left {
  background-color: rgba(255, 255, 255, 0.404);
  padding: 53px 64px;
}
.about_us__left--title {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #464646;
  font-size: 45px;
  border-bottom: 2px solid green;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 0;
}
.about_us__left--title img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}
.about_us__left--content {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 5%;
  font-size: 28px;
}

.mandates {
  text-align: center;
  background-color: #EAFAEF;
  padding-bottom: 40px;
}
.mandates__title {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  margin-bottom: 60px;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
}
.mandates__title img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}
.mandates__block {
  position: relative;
}
.mandates__block--img {
  width: 100%;
}
.mandates__block--text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato";
  font-size: 32px;
  text-shadow: 0px 1px 6px #000;
}

.mandates__row {
  position: relative;
}

.mandates div > div {
  margin-bottom: 15px;
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
  transition: all 0.5s 0.2s;
}
.popup__text {
  font-family: "lato";
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #999;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #7ed56f;
}

.btn:visited,
.btn:link {
  text-decoration: none;
  color: #38CB5F;
  border: 1px solid #38CB5F;
  border-radius: 5px;
}

.team-area-heading {
  position: relative;
}

.team-area-heading h4 {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  margin-bottom: 60px;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
}

.team-area-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.team-area {
  position: relative;
}

.team-area > div {
  padding: 30px 100px;
}

.team-area .card {
  border: none;
}

.team-area .card img {
  border-radius: 0;
  width: 100%;
  height: 190px;
}

.team-area .card-body h4 {
  font-size: 25px;
  color: #464646;
}

.team-area .card-body p {
  color: #787878;
  font-size: 20px;
}

.team-area .card-body a {
  text-decoration: none;
  color: black;
}

.team-area .card-body a i {
  font-size: 23px;
}

.team-area .card-body .fb {
  color: #3D5A96;
  margin-left: 5px;
}

.team-area .card-body .ln {
  color: #007AB7;
  margin-right: 5px;
}

@media (max-width: 520px) {
  .team-area > div {
    padding: 12.5%;
  }
}
.inventory-area-carousel {
  margin-top: 10px;
  background-color: #EAFAEF;
  padding-bottom: 90px;
}

.button {
  position: relative;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}

.inventory-area-carousel .button > a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 12px 22px;
  background: #2E8B57;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
}

.inventory-area-carousel .button > a:hover {
  background: white;
  color: #2E8B56;
  border: 1px solid #2E8B56;
}

.assistance-area-heading {
  position: relative;
}

.assistance-area-heading h4 {
  font-family: "Playfair Display", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  margin-bottom: 60px;
  transform: translateX(-50%);
  color: #464646;
  border-bottom: 2px solid green;
}

.assistance-area-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.assistance-area div > img {
  width: 100%;
}

.assistance-area-wrapper {
  height: 710px;
  background: rgba(255, 255, 255, 0.3);
  padding: 120px 40px 120px 0;
}

.left-wrapper div {
  text-align: right;
  font-family: "Roboto";
  color: white;
  text-shadow: 0 3px 10px #464646;
}

.gradiant {
  width: 100vw;
}

.left-wrapper div:nth-child(1) {
  font-size: 25px;
  margin-bottom: 20px;
}

.left-wrapper div:nth-child(7) {
  font-size: 25px;
  margin-top: 20px;
}

.left-wrapper div:nth-child(2) {
  font-size: 30px;
  margin-bottom: 30px;
}

.left-wrapper div:nth-child(6) {
  font-size: 30px;
  margin-top: 30px;
}

.left-wrapper div:nth-child(3) {
  font-size: 35px;
  margin-bottom: 40px;
}

.left-wrapper div:nth-child(5) {
  font-size: 35px;
  margin-top: 40px;
}

.left-wrapper div:nth-child(4) {
  font-size: 40px;
  color: #8B231D;
  text-shadow: 0 3px 10px #8B231D;
}

.assistance-content ul {
  animation: myframe 1.5s ease-in-out;
}

@keyframes myframe {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.right-wrapper {
  font-family: "Roboto";
  font-size: 30px;
  color: white;
  padding: 167px 0 0 95px;
  border-left: 13px solid rgba(255, 255, 255, 0.9);
}

.assistance-content ul li {
  margin-top: 20px;
  list-style: inside;
}

@media (max-width: 520px) {
  .right-wrapper {
    padding: 20px;
    font-size: 20px;
    border-top: 2px solid #EAFAEF;
  }

  .left-wrapper div {
    animation: leftframe 1.5s ease-in-out;
  }

  .assistance-area-wrapper {
    height: auto;
    padding: 20px 20px 20px 20px;
  }

  .left-wrapper div:nth-child(1) {
    font-size: 15px;
    margin-bottom: 20px;
    display: none;
  }

  .left-wrapper div:nth-child(7) {
    font-size: 15px;
    margin-top: 20px;
    display: none;
  }

  .left-wrapper div:nth-child(2) {
    font-size: 20px;
    margin-bottom: 30px;
    display: none;
  }

  .left-wrapper div:nth-child(6) {
    font-size: 20px;
    margin-top: 30px;
    display: none;
  }

  .left-wrapper div:nth-child(3) {
    font-size: 25px;
    margin-bottom: 40px;
    display: none;
  }

  .left-wrapper div:nth-child(5) {
    font-size: 25px;
    margin-top: 40px;
    display: none;
  }

  .left-wrapper div:nth-child(4) {
    font-size: 30px;
    color: #8B231D;
    text-shadow: 0 3px 10px #8B231D;
    text-align: center;
  }

  .assistance-content ul {
    animation: leftframe 1.5s ease-in-out;
  }

  .assistance-content ul li {
    text-shadow: 0px 1px 6px #000;
  }

  .assistance-area-wrapper {
    padding: 30px;
  }

  @keyframes leftframe {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .assistance-area div > img {
    width: 100%;
    height: 150%;
  }

  .gradiant {
    padding-right: 0;
    width: auto;
    margin-right: 0;
  }
}
.contact-area {
  background: rgba(56, 203, 95, 0.2);
  position: relative;
  padding-bottom: 100px;
}

.contact-area > img {
  position: absolute;
  bottom: 0px;
  width: 98vw;
}

.contact-area-heading {
  position: relative;
}

.contact-area-heading h4 {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  margin-bottom: 60px;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
}

.contact-area-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.contact-area-wrapper img {
  margin-right: 25px;
  display: inline-block;
}

.contact-area-wrapper span {
  margin-top: 20px;
  display: inline-block;
}

.contact-area-wrapper span {
  font-size: 22px;
  font-family: "Roboto";
}

.contact-area-wrapper p {
  font-size: 22px;
  font-family: "Roboto";
  display: inline-block;
  position: relative;
  top: 20px;
}

.form-heading {
  position: relative;
}

.form-heading h4 {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  font-size: 25px;
  display: inline-block;
  position: relative;
  padding: 7px 7px;
  left: 50%;
  margin-bottom: 40px;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
}

.form-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.contact-area-wrapper form {
  padding: 0 40px;
}

.contact-area-wrapper form input {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  border: 1px solid #2E8B57;
}

.contact-area-wrapper form textarea {
  width: 100%;
  height: 160px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  border: 1px solid #2E8B57;
}

.contact-area-wrapper form button {
  position: relative;
  font-family: "Lato medium", "sans-serif";
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  border: none;
  text-decoration: none;
  padding: 14px 44px;
  background: #2E8B57;
  color: white;
  margin-top: 30px;
  font-size: 22px;
}

.contact-area-wrapper form button:hover {
  background: white;
  color: #2E8B56;
  border: 1px solid #2E8B56;
}

@media (max-width: 520px) {
  .contact-area-wrapper > img {
    width: 90vw;
  }

  .contact-area-wrapper {
    margin-bottom: 30px;
  }

  .contact-area-wrapper form {
    padding: 0;
  }

  .contact-area-wrapper .icons {
    width: 30px;
  }
}
.navigation {
  font-family: "Roboto";
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #2E8B57;
  z-index: 2000;
  display: none;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  color: #7ed56f;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__link span {
  margin-right: 1.5rem;
}
.navigation:target {
  opacity: 1;
  visibility: visible;
}

.navigation-hide {
  position: absolute;
  right: 10%;
  top: 10%;
}

.navigation-hide i {
  font-size: 45px;
  color: white;
}

.consultancy-area {
  color: #464646;
}

.consultancy-heading {
  position: relative;
}

.consultancy-heading h4 {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
  margin-bottom: 60px;
}

.consultancy-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.section {
  padding: 25px 0;
  border-bottom: 1px solid #2E8B57;
}

.section h3 {
  font-size: 35px;
}

.section > ul {
  font-size: 27px;
}

.section ul li {
  font-size: 25px;
  list-style-position: inside;
}

.section p {
  font-size: 25px;
}

.section-1 p {
  font-size: 22px;
}

.section-1-bottom {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 520px) {
  .section h3 {
    font-size: 25px;
  }

  .section > ul {
    font-size: 17px;
  }

  .section ul li {
    font-size: 15px;
    list-style-position: inside;
  }

  .section p {
    font-size: 15px;
  }

  .section-1 p {
    font-size: 12px;
  }
}
.navbarmyths {
  padding: 2rem;
}
.navbarmyths__logo {
  height: 5rem;
}
.navbarmyths__menu {
  float: right;
}

.myths {
  text-align: center;
}
.myths__title {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  border-bottom: 2px solid green;
  margin-bottom: 60px;
}
.myths__title img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}
.myths__img {
  border: 1px solid #eafaea;
}
.myths__img img {
  width: 100%;
}
.myths__questions {
  margin-top: 5%;
  font-family: "Playfair Display", serif;
  text-align: left;
  color: #464646;
}
.myths__questions--title {
  font-weight: 400;
  font-size: 35px;
  border-bottom: 1px solid #707070;
  padding: 15px 30px 28px 19px;
}
.myths__questions--content {
  background: rgba(56, 203, 95, 0.1);
  font-weight: 400;
  font-size: 25px;
  padding: 22px 28.5px;
}
.myths__questions--img {
  float: right;
  width: 38px;
  height: 25px;
}

@media (max-width: 520px) {
  .myths__questions--title {
    font-size: 22px;
  }

  .myths__questions--content {
    font-size: 15px;
  }
}
.bg1 {
  background: White;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: ellipse(34% 15% at 24% 100%);
  clip-path: ellipse(34% 15% at 24% 100%);
  z-index: 99;
  bottom: 225.5px;
  border-bottom: 1px solid brown;
}

.bg1-heading {
  position: absolute;
  transform: translateY(-110%);
  z-index: 101;
  left: 10px;
  font-size: 35px;
  font-family: "Playfair Display";
  color: #464646;
}

.inventory-area {
  position: relative;
  background-color: #EAFAEF;
  padding-bottom: 30px;
}

.inventory-heading {
  position: relative;
}

.inventory-heading h4 {
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
  font-size: 45px;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
  margin-bottom: 60px;
}

.inventory-heading h4 img {
  position: absolute;
  left: 50%;
  bottom: -4px;
}

.inventory-area-wrapper > div {
  border: none;
  margin: 0 35px;
}

.inventory-area .row {
  margin-bottom: 60px;
}

.inventory-area-wrapper .card:hover {
  transform: scale(1.01);
}

.inventory-area-wrapper .card-body {
  background: white;
}

.inventory-area-wrapper .card-body h4 {
  font-family: "Playfair Display";
  font-size: 23px;
  color: #636363;
}

.inventory-area-wrapper .card-body p {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  color: #636363;
}

.inventory-area .call-icon {
  color: lightgreen;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 25px;
}

.inventory-area .anchor {
  text-decoration: none;
  color: black;
}

.inventory-area-wrapper {
  padding-left: 7%;
  padding-right: 10%;
}

.inventory-area-wrapper .card {
  width: 100%;
  height: 470px;
  position: relative;
}

.inventory-area-wrapper img {
  border-radius: 0;
  height: 244.5px;
}

.inventory-area .card-body h4 {
  font-size: 23px;
}

.inventory-area .card-body p {
  font-size: 18px;
  color: #636363;
}

.footer-area {
  position: relative;
  background: #464545;
  color: white;
  padding: 70px 0 40px 0;
  height: 476px;
}

.footer-area-heading h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-area-wrapper ul {
  list-style: none;
  position: relative;
}

.footer-area-wrapper ul li {
  padding: 10px;
}

.footer-area-wrapper ul li a {
  text-decoration: none;
  color: white;
}

.footer-area-social {
  margin-top: 20px;
}

.footer-area-social a {
  text-decoration: none;
  color: white;
}

.footer-area-social a i {
  margin-right: 20px;
}

.footer-area-copyright {
  background: #2E8B57;
  color: white;
  height: 60px;
  line-height: 60px;
  position: relative;
}

@media (max-width: 520px) {
  .inventory-area-wrapper > div {
    margin: 0 10px;
  }

  .inventory-area-wrapper {
    margin-bottom: 30px;
  }

  .inventory-area .row {
    margin-bottom: 0px;
  }

  .footer-logo {
    display: none;
  }

  .footer-area-social {
    background: #464545;
    position: relative;
    bottom: 96px;
    padding: 23px;
  }

  .footer-area-copyright {
    position: relative;
    top: 56px;
  }

  .left-section {
    margin-top: -14px;
  }
}

/*# sourceMappingURL=style.css.map */
