//index page

.hero{
    width: 100%;
    height: auto;
    background-image: url("../img/heroimg.png");
    background-repeat: no-repeat;


    &__social{
        padding: 9px 1.3rem;
        background-color: #2E8B57;
    }
    
    &__container{
        
        margin: 0 auto;
        margin-top: 2.5rem;
        padding: 2rem 2.5rem;
        // padding-top:2.2rem;
        min-height: 75%;
        background-color: rgba(255, 255, 255, 0.603);

        &__left{
        text-align: center;
        
            &--logo{
                margin-top: 8%;

                width: 13rem;
                height: 11rem;
            }
            &--h2{
                margin-top: 4%;
                font-size: 2.7rem;
                font-family: 'Cookie',cursive;
                color: #8B231D;
            }

            &--h4{
                font-family:'Lato' ,sans-serif;
                font-size: 1.7rem;
                color: #303030;
                font-weight: 400;
                font-style: italic;
                margin-bottom: 5%;
            }

            &--btn:link,    
            &--btn:visited{
                // margin-top: 7%;
                font-family: 'Roboto',sans-serif;
                font-size: 1.4rem;
                text-decoration: none;
                color: #FFF;
                padding:0.5rem 1.7rem;
                background-color: #2E8B57;
            }
        }

        &__right{
            &--nav{
                list-style: none;
                float: right;
                text-align:right;
                margin-right: 3rem;
                
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    color: black;
                }
                li{
                    margin-top: 4%;
                    font-family: 'Roboto','sans-serif';
                    font-size: 2.4rem;
                    font-weight: 300;
                    
                }

            }
            @media only screen and (max-width: 600px) {
                &--nav{
                    margin-top: 60%;
                    text-align:center;
                    margin-right: 0 auto;
                }
              }
              @media only screen and (max-width: 600px) {
                &--nav{
                    display: none;
                }
              }
        }
    }


}

.about_us{
    width: 100%;
    height: auto;
    background-image: url("../img/about_back.png");
    

    &__left{
        // padding-top: 10%;
        // padding-bottom: 7%;
        background-color: rgba(255, 255, 255, 0.404);
        padding: 50px;
        &--title{
            font-family: 'Playfair Display', serif;
            text-align: center;
            color:#464646;
        }

        &--content{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            margin-top: 5%;
            font-size: 1.2rem;
        }
    }

   
}   

.mandates{
    background-color: rgba(56, 203, 95, 0.308);
    text-align: center;
    &__row{
       
        
    }

    &__title{
        padding: 5px;
        margin-top: 5%;
        margin-left: 44%;
        margin-bottom: 5%;
        font-size: 2rem;
        border-bottom: 2px solid #38CB5F;
    }

    &__block{
        position: relative;
       &--img{
        
       }
       &--text{
           color: #fff;
           position: absolute;
           top: 50%;
           left: 55%;
           transform: translate(-50%,-50%);
          
       }
    }
}

.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black,.8);
    z-index: 2500;
    opacity: 0;
    visibility: hidden;

    &__content{
        @include centered;
        padding: 5%;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;

        transform: translate(-50%,-50%)  scale(.3);
        transition: all .5s .2s;
    }

    // &__img{
    //     display: block;
    //     width: 100%;
    // }
    &__text{
        font-family: 'lato';
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-dark-grey;

        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark-2;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover{
            color:$color-light;
        }
    }
}

.btn:visited,
.btn:link{
    text-decoration: none;
    color: #38CB5F;
    border: 1px solid #38CB5F;
    border-radius: 5px;
}




// team area start

.team-area-heading h4{
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
    font-size: 45px;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    left: 50%;
    margin-bottom: 60px;
    transform: translateX(-50%);
    border-bottom: 2px solid green;
}

.team-area{
    position: relative;

}

.team-area > div{
    padding: 100px;
}

.team-area .card{
    border: none;
}
.team-area .card img{
    border-radius: 0;
    width: 280px;
    height: 190px;
}
.team-area .card-body h4{
    font-size: 25px;
    color: #464646;
}
.team-area .card-body p{
    color: #787878;
    font-size: 20px;
}

.team-area .card-body a{
    text-decoration: none;
    color: black;
}
.team-area .card-body a i{
    font-size: 23px;
}
.team-area .card-body .fb{
    color: #3D5A96;
    margin-left: 5px;

}
.team-area .card-body .ln{
    color: #007AB7;
    margin-right: 5px;
}




// contact area start


.contact-area{
    background: rgba(56, 203, 95, 0.2);
    position: relative;
    padding-bottom: 100px;
}
.contact-area > img{
    position: absolute;
    bottom: 0px;
}
.contact-area-heading h4{
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
    font-size: 45px;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    left: 50%;
    margin-bottom: 60px;
    transform: translateX(-50%);
    border-bottom: 2px solid green;
}

.contact-area-wrapper section img{
    margin-right: 25px;
    
}

.contact-area-wrapper section{
    margin-top: 20px;
}

.contact-area-wrapper section p{
    display: inline-block;
}

.form-heading h4{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    font-size: 25px;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    border-bottom: 2px solid green;
}

.contact-area-wrapper form{
    padding: 0 40px;
}

.contact-area-wrapper form input{
    width: 510px;
    margin-bottom: 15px;
    height: 50px;
    padding: 20px;
    border-radius: 30px;
    border: none;
}

.contact-area-wrapper form textarea{
    width: 510px;
    height: 160px;
    padding: 20px;
    border-radius: 30px;
    border: none;
}

.contact-area-wrapper form button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    border: none;
    text-decoration: none;
    padding: 10px 25px;
    background: #2E8B57;
    color: white;
    margin-top: 30px;
}