//inventory area

.inventory-area{
    position: relative;
    background-color: #EAFAEF;
    padding-bottom: 30px;
    
}

.inventory-heading h4{
    margin: 30px 0;
    font-size: 45px;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid green;
    margin-bottom: 60px;
}
.inventory-area-wrapper > div{
    border: none;
    // width: 350px;
    // padding: 0 40px;
    margin: 0 35px;

}
.inventory-area .row{
    margin-bottom: 60px;
}
.inventory-area-wrapper .card:hover{
    // background: orange;
    // width: 350px;
    transform: scale(1.01)
}
.inventory-area-wrapper .card-body{
    background:white;
}

.inventory-area .call-icon{
    color: lightgreen;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
}
.inventory-area .anchor{
    text-decoration: none;
    color: black;
}
.inventory-area-wrapper{
    padding-left: 7%;
    padding-right: 10%;
}
.inventory-area-wrapper .card{
    width: 100%;
    height: 470px;
    position: relative;
}

.inventory-area-wrapper img{
    // width: 350px;
    border-radius: 0;
    height: 244.5px;

}

.inventory-area .card-body h4{
    font-size: 23px;
}

.inventory-area .card-body p{
    font-size: 18px;
    color: #636363;
}


//footer-area

.footer-area{
    position: relative;
    background: #464545;
    color: white;
    padding: 70px 0 40px 0;
    height: 476px;
}

.footer-area-heading h4{
    font-weight: 600;
    margin-bottom: 20px;
    
}

.footer-area-wrapper ul{
    list-style: none;
    position: relative;
}

.footer-area-wrapper ul li{
    padding: 10px;
}


.footer-area-wrapper ul li a{
    text-decoration: none;
    color: white;
}

.footer-area-social{
    margin-top: 20px;

}

.footer-area-social a{
    text-decoration: none;
    color: white;
}

.footer-area-social a i{
    margin-right: 20px;
}

.footer-area-copyright{
    background: #2E8B57;
    color: white;
    // height: 60px;
    // line-height: 60px;
    position: relative;
}

















@media (max-width: 520px) {
    .inventory-area-wrapper > div{
        margin: 0 10px;
    }
    
    .inventory-area-wrapper{
        margin-bottom: 30px;
    }

    .inventory-area .row{
        margin-bottom: 0px;
    }

    .footer-logo{
        display: none;
    }
    .footer-area-social{
        background:#464545;
        position: relative;
        bottom: 96px;
        padding: 23px;
        // display: none;
    }
    .footer-area-copyright{
        position: relative;
        top: 70px;
    }
  }
  