//myths page
.navbarmyths{
    padding: 2rem;
    // background: lightblue;
    &__logo{
        
        // width: 8rem;
        // margin-top: 2%;
        height: 5rem;
    }

    &__menu{
        // margin-top: 2%;
        float: right;
    }
}

.myths{
    text-align: center;

    &__title{

        font-family: 'Roboto', sans-serif;
        margin: 30px 0;
        font-size: 45px;
        display: inline-block;
        position: relative;
        padding: 0 5px;
        // left: 50%;
        // transform: translateX(-50%);
        border-bottom: 2px solid green;
        margin-bottom: 60px;
        & img{
            position: absolute;
            left: 50%;
            bottom: -4px;
        }
    }
    &__img{
        background-color: #EAFAEF;
    }
    &__questions{
        margin-top: 5%;
        font-family: 'Playfair Display', serif;
        text-align:left;
        &--title{
            font-weight: 400;
            font-size:1.8rem;
        }
        &--content{
            background-color: #EAFAEF;
            font-weight: 400;
            font-size:1.2rem;
        }

        &--img{
            float:right;
            width: 2rem;
        }
    }
}